.info-section{
    display:flex;
    flex-direction:column;
    justify-content: center;
    margin-left: 20px;

    max-width: 60%;
}

.info-title{
    font-family: Funnel-Sans;
    font-size: 64px;
    margin: 20px 0;
}
.info-text{
    font-family: Inter-light;
    font-size:20px;
    line-height: 30px;
}

