
@font-face {
    font-family: Inter-light;
    src: url('../src/assets/fonts/Inter/Inter_18pt-Light.ttf') format('truetype');
}

@font-face {
    font-family: Libre-Bodoni;
    src: url('../src/assets/fonts/LibreBodoni/LibreBodoni-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: Funnel-Sans;
    src: url('../src/assets/fonts/FunnelSans/FunnelSans-VariableFont_wght.ttf') format('truetype');
}
html, body { height: 100%; }
body { margin: 0; font-family: Inter-light, "Helvetica Neue", sans-serif; }
